.carrousel {
  position: relative;
  max-width: 80%;
  aspect-ratio: 19 / 8;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;

  img {
    margin: 0 auto;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 12s infinite;
  }

  img:nth-child(1) {
    animation-delay: 3s;
  }

  img:nth-child(2) {
    animation-delay: 6s;
  }

  img:nth-child(3) {
    animation-delay: 9s;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 1;
    z-index: 1;
  }
  33% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 0;
  }
}
