.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;

  border-bottom: 2px solid rgb(226, 223, 223);
  &__logo {
    max-width: 100px;

    padding-left: 40px;
    padding-top: 30px;

    &__img {
      max-width: 100%;
    }
  }
}
