@media (max-width: 950px) {
 
  main {
    margin-top: 0 !important;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: unset !important;
  }
  .nav {
    flex-direction: column !important;
    align-items: center;
    padding: 1rem 0;

    &__liste {
      flex-direction: column !important;
      gap: 0 !important;
    }

    &__lien {
      font-size: 1.1rem;
    }
  }

  .formsearch {
    &__champ,
    &__button {
      width: 90%;
      font-size: 1rem;
    }

    &__button {
      margin-top: 1rem;
    }
  }

  .sectiongrid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .cardsinfo {
    flex-direction: column;
    align-items: center;

    &__items {
      width: 90%;
    }
  }
  .forminfo {
    flex-wrap: wrap;
  }

  .sectionarticle {
    flex-direction: column !important;
    padding: 50px;
  }

  .sectionstats__content {
    flex-direction: column;
  }
}
