@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Playwrite";
  src: url("../fonts/Playwrite_HU/PlaywriteHU-Regular.ttf");
}

body {
  font-family: Lato;
}

.header {
  &__logo {
    max-width: 100px;
    background-color: aqua;
    padding:40px;

    &__img {
      max-width: 100%;
     
    }
  }
}

.nav {
    padding-right: 50px;
  &__liste {
    display: flex;
    justify-content: right;
    gap: 40px;
    flex-direction: row;
    font-family: Lato Bold;
    
  }

  &__item {
    list-style: none;
  }

  &__lien {
    text-decoration: none;
    color: red;
    
  }
}
.main {
  &__carrousel {
    max-width: 40%;
    justify-self: center;
  }
  &__carrousel__img {
     padding-top: 40px;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 15/11;
    background-color: aliceblue;
  }
}
.navfooter{
    background-color: azure;
    display: flex;
     justify-content: center;

}

footer{
    justify-self: center;
}
.formsearch{
  background-color: red;
  padding: 30px;
 
 justify-content: center;


 &__titre{
    
  justify-self: center;
  align-items: center;
  align-self: center;
  color: white;;

 
 }

&__champ{
  display: flex;
  justify-self: center;
  justify-content: center;
   padding:5px;
   margin:10px;
}
&__button{
    display: flex;
    padding:5px;
  justify-self: center;
  justify-content: center;
}
}