@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Playwrite";
  src: url("../fonts/Playwrite_HU/PlaywriteHU-Regular.ttf");
}
body {
  font-family: Lato;
}

main {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  margin-top: 350px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid rgb(226, 223, 223);
}
.header__logo {
  max-width: 100px;
  padding: 40px;
}
.header__logo__img {
  max-width: 100%;
}

.nav {
  padding-right: 50px;
  padding-bottom: 10px;
}
.nav__liste {
  display: flex;
  justify-content: right;
  gap: 40px;
  flex-direction: row;
  font-family: Lato Bold;
}
.nav__item {
  list-style: none;
}
.nav__lien {
  text-decoration: none;
  color: red;
}

.navfooter {
  background-color: azure;
  display: flex;
  justify-content: center;
}

footer {
  justify-self: center;
}

.formsearch {
  background-color: red;
  padding: 30px;
  justify-content: center;
}
.formsearch__titre {
  justify-self: center;
  align-items: center;
  align-self: center;
  color: white;
}
.formsearch__champ {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}
.formsearch__button {
  display: flex;
  padding: 5px;
  justify-self: center;
  justify-content: center;
}

.sectionflex {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  text-align: center;
  background-color: brown;
  flex-direction: column;
  padding: 40px;
}
.sectionflex__titre {
  flex-flow: column;
  flex-direction: column;
  color: white;
}

.sectionarticle {
  flex-direction: row;
  display: flex;
  padding: 50px;
}
.sectionarticle__card {
  gap: 20px;
  margin: 20px;
  border: 4px solid white;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.sectiongrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.sectiongrid h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.sectiongrid img {
  aspect-ratio: 9/10;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sectionstats {
  padding: 40px;
}
.sectionstats img {
  display: flex;
  max-width: 80%;
}
.sectionstats__content {
  display: flex;
  gap: 20px;
}
.sectionstats__content p {
  max-width: 120ch;
}

.cardsinfo {
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-self: center;
}
.cardsinfo__items {
  padding: 30px;
  max-width: 300px;
  max-width: 200px;
  background-color: rgb(44, 44, 44);
  color: white;
}
.cardsinfo__items img {
  max-width: 100%;
  aspect-ratio: 8/11;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionmap {
  position: relative;
  display: flex;
}

.formulaire {
  min-width: 250px;
  position: absolute;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  bottom: 30px;
  right: 60px;
}
.formulaire__champ {
  display: flex;
  flex-direction: column;
}
.formulaire__champinput {
  border: 2px solid white;
  border-radius: 2px;
  display: block;
  font-size: 12px;
  padding: 10px;
}
.formulaire__champinput:focus {
  outline: 0;
}
.formulaire__champ.success input {
  border: 2px solid green;
}
.formulaire__champ.error input {
  border: 2px solid violet;
}
.formulaire__champ.errorMessage {
  color: white;
  font-size: 9px;
}

.forminfo {
  border: 1px solid red;
  background-color: rgb(44, 44, 44);
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.carrousel {
  position: relative;
  max-width: 80%;
  aspect-ratio: 19/8;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}
.carrousel img {
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: fade 12s infinite;
}
.carrousel img:nth-child(1) {
  animation-delay: 3s;
}
.carrousel img:nth-child(2) {
  animation-delay: 6s;
}
.carrousel img:nth-child(3) {
  animation-delay: 9s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 1;
    z-index: 1;
  }
  33% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */